.box {
    height: 30vw;
    width: 30vw;
    margin: 5vw auto 5vw auto;
    font-size: 20vw;
    text-align: center;
    line-height: 30vw;
    color: white;
    transition: opacity ease 0.13s;
    -webkit-transition: opacity ease 0.13s;
    -moz-transition: opacity ease 0.13s;
    -o-transition: opacity ease 0.13s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
    .box:hover {
        opacity: 0.7;
    }
    .box:active {
        opacity: 0.6;
    }

.box-p {
    background-color: rgb(0, 162, 232);
}

.box-r {
    background-color: rgb(181, 230, 29);
}
