@page
@model APLOIP.wwwroot.IndexModel
@{
    ViewData["Title"] = "Discover";
}

<h2>Discover</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="box box-p">P</div>
            <p>asadsda</p>
        </div>
        <div class="col-sm">
            <div class="box box-r">R</div>
        </div>
    </div>
</div>
<hr />

<footer>
    <p>&copy; 2019 - Razor_Sample_Test</p>
</footer>

