@page "/Home"
@model APLOIP.Pages.IndexModel
@{
    ViewData["Title"] = "HOME";
}

<div class="row row-narrow">
    <div class="col-sm">
        <h1>About</h1>
        <p>APLOIP (AP Language Online Interaction Platform) is a system allowing students to find and share knowledge</p>
        <p><a asp-page="/About">More Info&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></p>
        <p><a href="~/Pedia/tutorial">Get started&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></p>
    </div>
</div>
<div class="row">
    <div class="col-sm column">
        <a class="box box-p nonselect shadow" asp-page="/Pedia">P</a>
    </div>
    <div class="col-sm column">
        <a class="box box-r nonselect shadow" asp-page="/Repository">R</a>
    </div>
</div>


