@page "/Pedia"
@model APLOIP.Pages.PediaModel
@{
    ViewData["Title"] = "PEDIA";
}

@foreach(var basicClass in @Model.BasicClasses)
{
    <div href="/Pedia/@basicClass.UniqueTitle" class="card-pedia card pointer nonselect">
        <div class="card-body">
            <h5 class="card-title"><span class="fa fa-@basicClass.FaIcon"></span>@basicClass.DisplayTitle</h5>
            @if (@basicClass.DisplayTitle != null && basicClass.Description.Length > 0)
            {
                <p class="card-text">@basicClass.Description</p>
            }
        </div>
    </div>
}
@section Scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
    <script>
        $.each()
    </script>
}